

snippet note
	[Note]
	==============================
	${1:string}
	==============================

snippet tip
	.${1:string}
	[Tip]	
	==============================
	${2:string}
	==============================

snippet chapter
	[[chapter_${1:string}]]

	== ${2:title}
	
	=== ${3:Introducton}

snippet code
	----
	${1:code}
	----
