snippet log
	error_log('JRM DEBUG ========= File `Filename('', 'Untitled')` Line `line(".")`');
	error_log('${1:string}');
	error_log('=====================');

snippet log_r
	error_log('JRM DEBUG ========= File `Filename('', 'Untitled')` Line `line(".")`');
	error_log_r(${1:variable});
	error_log('=====================');
